<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>Blue Feather</title>
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>

<body>
	<img src="/static/logo.png" alt=""  style="width: 25%;height: 30%;"/>
	<h1>Blue Feather : Fake News Detector</h1>
	<p>Fake news is an inaccurate, sometimes sensationalistic report that is created to gain attention, mislead, deceive or damage a reputation. Unlike misinformation, which is inaccurate because a reporter has confused facts, fake news is created with the intent to manipulate someone or something. Fake news can spread quickly when it provides disinformation that is aligned with the audience's point of view because such content is not likely to be questioned or discounted.
	</p>
 <div class="login">

    <form action="{{ url_for('predict')}}" method="POST">
    	<textarea  name="message" rows="6" cols="50" required="required" style="font-size: 18pt"></textarea>
		<br> </br>
        <button type="submit" class="btn btn-primary btn-block btn-large">Predict</button>

        	<div class="results">

	{% if prediction == ['FAKE']%}
	<h2 style="color:red;">Looking Spam⚠️News📰 </h2>
	{% elif prediction == ['REAL']%}
				<h2 style="color:green;"><b>Looking Real News📰</b></h2>
	{% endif %}

	</div>

    </form>

</div>